<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/estiloForm.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">


    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>
  <%- include('./barramenu'); %>
    <form action="/crearActivo" method="POST"></form>
    <div id="kt_content" class="content d-flex flex-column flex-column-fluid">
        <div class="innerMain_content">
            <div class="container innerMain_container">

                <div class="tab-content" id="myTabContent">
                     <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h1 class="page-title"><i class="bi bi-geo-alt-fill"></i> Lista Ubicación</h1>
                            </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                               <table id="userList" class="table table-bordered table-hover table-striped">
                                                    <thead class="thead-light">
                                                        <tr>
                                                             <th scope="col">ID</th>
                                                             <th scope="col">Sitio</th>
                                                             <th scope="col">Localización</th>
                                                             <th scope="col">Departamento</th>
                                                             <th scope="col">Acción</th>
                                                             </tr>
                                                    </thead>

                                                    <tbody>
                                                      <% for (let i=0; i < ubicacion.length; i++) { %>
                                                        <tr>
                                                            <th scope="row"><%= ubicacion[i].id %></th>
                                                            <td><%= ubicacion[i].sitio %></td>
                                                            <td><%= ubicacion[i].localizacion %></td>
                                                            <td><%= ubicacion[i].departamento %></td>
                                                            <td>
                                                              <div class="table-cell">
                                                                <form action="/eliminarUbicacion" method="post">
                                                                    <input type="hidden" name="id" value="<%= ubicacion[i].id %>">
                                                                    <button class="btn btn-dark mr-3">Eliminar</button>
                                                                </form>
                                                            </div>
                                                              <div class="table-cell">
                                                               <form action="/renderActualizarUbicacion" method="post">
                                                                  <input type="hidden" name="id" value="<%= ubicacion[i].id %>">
                                                                  <input type="hidden" name="sitio" value="<%= ubicacion[i].sitio %>">
                                                                  <input type="hidden" name="localizacion" value="<%= ubicacion[i].localizacion %>">
                                                                  <input type="hidden" name="departamento" value="<%= ubicacion[i].departamento %>">
                                                                  <button class="btn btn-dark mr-3">Actualizar</button>
                                                               </form>
                                                              </div>
                                                          </td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                         </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>